:root {
  --cor-primaria: #ba58f6ef;
  --cor-secundaria: #e4c2fd;
  --texto-escuro: #3f2e4a;
  --branco: #ffffff;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color: var(--cor-secundaria);
  color: var(--texto-escuro);
}

header {
  background-color: var(--cor-primaria);
  color: var(--branco);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

a {
  color: var(--branco);
  text-decoration: none;
}

section {
  padding: 2rem;
  background-color: var(--branco);
  margin: 1rem auto;
  max-width: 800px;
  border-left: 6px solid var(--cor-primaria);
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

form input, form textarea {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: var(--cor-primaria);
  color: var(--branco);
  border: none;
  padding: 0.8rem 1.5rem;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #ae74f6;
}
